*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    /* background: #081b29; */
    color: rgb(207, 213, 200);
    background: url("home.jpg") no-repeat center center fixed;
    background-size: cover;
    max-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 18px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: none;
}

.name{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color:rgb(207, 213, 200);
    transition: 0.3s;
    margin-left: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 35px;
    margin-right: 30px;
    color: rgb(207, 213, 200);
    transition: 0.3s;
    text-shadow: 1px 1px 3px rgba(39, 11, 97, 0.5);

              
}

.nav-bar a:hover{
    color: #00abf0;
}

.name:hover{
    color: #00abf0;
}

.home{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* required to take the content in centre */
    padding: 0 10%;
}

.home-body{
    max-width: 600px;
}

.home-body h1{
    font-size: 40px;
    padding-block: 8px;
    margin-bottom: 25px;
}

.home-body h3{
    font-size: 20px;
    color: #00abf0;
}

.home-body p{
    font-size:17px;
    padding-block: 10px;
    line-height: 1.6;
}

.home-body .home-inner-body{
    margin-top: 30px;
}

.hire-me , .lets-connect{
    transition: all 0.3s ease;
    cursor: pointer;
    border: 3px solid #082c3a;
    text-decoration: none;
    color:rgb(207, 213, 200);
    margin-right: 25px;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block; /* makes padding work better */
    padding: 10px 20px;
    font-weight: 800;
}


.home-inner-body a:hover{
    transform: scale(1.1);
    background-color: #00abf0;


}

section{
    position: fixed;
    left:80px;
}

.connect{
    position: fixed;
    bottom:20px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:20px;
    left:220px;
}

.social-icons i {
  width: 35px;              /* same width */
  height: 35px;             /* same height */
  line-height: 35px;        /* centers icon vertically */
  text-align: center;       /* centers icon horizontally */
  background-color: rgb(0, 0, 0);
  border-radius: 50%;       /* makes it a circle */
  color: #00abf0;
  font-size: 15px;          /* icon size */
  margin-inline: 10px;      /* space between icons */
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #00abf0;    /* border around circle */

}

.social-icons i:hover {
  background-color: #081b29; 
  transform: scale(1.2);
  text-shadow: 0px 0px 10px #00bcd4;
}



